body{
    background-color:#010409;
    color:white;
}

button{
    background-color: #010409;
    color:white;
    font-size: 15px;
    font-weight: 400;        
    border-color:none;
    border-radius: 5px;
    border:none;
}   

button:hover {
    background-color:#28282B;
    color: white;
    cursor:pointer;
}

.noBorder{
    border:none;
}

a{
    color:white;
}

.gray{
    color:#6a838d;
}

.highlight{
    font-size: 15px;
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    width: 6vw;
}

input[type="text"]{   
    border:1px solid #30363d;
    background-color: #010409;
    color:white;
    width:20vw;
    border-radius:5px;
    outline:none;
}

a{
    text-decoration: none;
    font-weight:400;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}
  
#header{
    height: 8vh;
    border-bottom:1px solid #30363d;
    display:flex;
    justify-content:space-between;
}

#header button{
    margin:0 5px;
    border: 1px solid #30363d;
    border-radius: 5px;
}
#header .noBorder{
    border: none;
}

#hdLeft, #hdRight{
    display:flex;
    margin: 3px 0vw;
}

#hdLeft button , #hdLeft button{
    margin: 0px;
    height: 40px;
}

#hamburger{
    background-image: url(hamburger.png);
    align-self: center;
    height:40px;
    width:40px;
}
#logo{
    background-image: url(logo.png);
    height: 40px;
    width:45px;
}

#arrowPlus{
    background-image: url(+arrow.png);
    align-self: center;
    height:40px;
    width:40px;
}
#circledot{
    background-image: url(circledot.png);
    align-self: center;
    height:40px;
    width:40px;
}
#dots{
    background-image: url(dots.png);
    align-self: center;
    height:40px;
    width:40px;
}
#foldertype{
    background-image: url(foldertype.png);
    align-self: center;
    height:40px;
    width:40px;
}
#profile{
    background-image: url(profile.png);
    align-self: center;
    height:40px;
    width:40px;
}


#hdRight img , #hdRight input{
    margin:0px 5px;
    height: 40px;
}
#hdRight input{
    background-image:url('Search_Icon.png');
    opacity: 80%;
    background-size: contain;
    background-position: 2px,2px;
    padding: 0px 45px;
    background-repeat: no-repeat;
}



#main{
    display:flex;
    justify-content: space-between;
}

#left{
    height: 100vh;
    width:19.5vw;
    border:1px solid #30363d ;
    background-color: #0d1117;
    padding: 50px 20px;
}
    
#lefthead{
    height:5vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lefthead button{
    background-image: url('NewBook.png');
    align-self: center;
    height:40px;
    width:80px;
}

#left>input[type=text]{
    margin-top: 20px;
    height:30px;
    background-color: #161b22;
    border:1px solid #30363d;
}

#left input[type=text]:focus , .cardsUp input[type="text"]:focus, #hdRight input[type="text"]:focus{
    border:3px solid #093a7e;
}

#left> .gray{
    font-size:15px;
    padding:15px;
    border:1px dashed #30363d; 
    border-radius:10px; 
}

#right{
    width:25vw;
    margin-left: 20px;
}

#right> div{
    padding:20px;
    background-color:#0d1117;
    margin:15px 20px;
    border:1px solid #30363d;
    border-radius:5px;
}

#changelog{
    color:#6a838d ;
}

#Ist *,#IInd *{
    margin:0;
    padding:0;
}

#Ist h3,#IInd h3{
    padding:0 0 10px 0;
    margin: 0;
}

#Ist .gray{
    padding:0 0 0 0;
    margin: 0 0 3px 0;
}

#Ist .RtGroup{
    padding:0;
    margin: 0 0 12px 0;
}

#Ist a:hover{
    color:#4493f8    ;
}

#IInd .IIndHeads{
    margin:0 0;
    padding:15px 0px;
}

#IInd .gray{
    margin-bottom: 25px;
}

#IInd>a{
    color:#4493f8;
}

#center{
    width:50vw;
}

#centerhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#center h2 ,#center p{
    margin:10px;
}

#centerHead div{
    display: flex;
    align-items: center;
}

#centerHead a{
    color:#4493f8;
    font-size: 17px;
}

#centerhead button{
    height:30px;
    width:100px;
    margin:5px 10px;
    background-color: #28282B;
    border: 1px solid #30363d;
}

#centerHead button :hover{
    background-color: #6a838d;
}

.cardsUp , .cardsMid , .cardsDown{
    width: 25vw;
    margin:1vw;
    background-color:#161b22 ;
    border: 1px solid #30363d;
    border-radius:5px;
}

#cardsUp,#cardsMid,#cardsDown{
    width:calc(60.5vw - 120px);
}

#cardsUp , #cardsMid , #cardsDown{
    display: flex;
    justify-content: space-evenly;
    margin-right:20px;
}

.cardsUp{
    height:40vh;
}

.cardsUp button{
    font-size: 12px;
    font-weight: bold;
    background-color: #238636;
    border-radius: 5px;
    padding: 10px;
    margin:0px  10px;
}

.cardsUp input[type="text"]{
    height: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #0d1117;
}

.cards1>input[type="text"]{
    display: block;
}

.Label {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
}
  
  /* Hide the default radio button */
.Label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
  /* custom radio button */
.customRadio {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    background-color:black;
    border: 1px solid #6a838d;
    border-radius: 50%;
}

.Label input:checked ~ .customRadio {
    background-color: #1f6feb;
}
  
.customRadio:after {
    content: "";
    position: absolute;
    display: none;
}
  
.Label input:checked ~ .customRadio:after {
    display: block;
}
 
.Label .customRadio:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}

#cards2 input{
    width:15vw;
}

.cardsMid>div{
    display:flex;
}

.cardsMid>div>img{
    height:50px;
    width: 60px;
}

.cardsMid a ,.cardsDown a{
    color: #4493f8;
}

#gitMan{
    width:25vw;
}

#cards5 img{
    min-width: 25vw;
    height:230px;
}
#cards6 img {
    margin:10px;
    height:30px;
    width: auto;
}

#cards6>div{
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#cards6 button{
    background-color: #21262d;
    font-size: 12px;
    font-weight:bold;
    padding:8px;
    margin-right: 15px;
    border: 1px solid #2a3037;
    border-radius: 5px;
}

#cards6 button:hover{
    background-color: #30363d;
}

#cards7{
    width:50.5vw;
}

.highlight>a{
    color: white;
} 
.highlight>a:hover{
    color: #4493f8;
}

.cards7sub{
    width:50.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards7sub button{
    font-size: 12px;
    font-weight: bold;
    color:#ffffffca;
    background-color:#21262d ;
    border: 1px solid #2a3037;  
    border-radius: 5px;
    margin:10px;
    padding:3px 25px;
}

#webBottom{
    width:50.5vw;
    display:flex;
    margin-top:10vh;
    justify-content: space-between;
}

#webBottom img{
    height:50px;
    width:200px;
}

#webBottom a{
    color:rgba(255, 255, 255, 0.575);
    font-size:15px;
}

#webBottom a:hover{
    color:#4493f8;
}

#webBottom>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:3vw;
}

#bottomLinks>a{
    margin:0px 5px;
}